{{>layout/indexHeader}}
<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h4> 김현우</h4>
                <h2> Portfolio - resume </h2>
                <a href="/img/resume/resume.pdf" download="김현우 이력서"><h4><i class='far fa-folder-open'></i> Download(이력서) </h4></a>
                <a href="/img/resume/portfolio.pdf" download="김현우 포트폴리오"><h4><i class='far fa-folder-open'></i> Download(포트폴리오) </h4></a>
            </div>
        </div>
    </div>
    <!-- /container -->
</div>

{{>layout/indexFooter}}